# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

build/

# Dependency directories
node_modules/
jspm_packages/

# Yarn Integrity file
.yarn-integrity

# misc
.DS_Store
.eslintrc
