---
---

@import "{{ site.theme }}";

body {
  padding: 10px 0 0 0;
  font-size: 16px
}

header {
  padding: 34px 0px 70px 25px;
  margin: 30px 25px 0 0;
  background-image: url('https://raw.githubusercontent.com/modofunjs/modofun/master/assets/images/modofun-logo-white.png');
  background-repeat: no-repeat;
  background-position: center bottom 10px;
  background-size: 63px 45px
}

header li {
  font-size: 14px
}

header p.header {
  display: none
}

header:after {
  content: "This project is MIT licensed."
}

.emoji, h1 img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none
}

img {
  max-width: 100%
}

.wrapper {
  width: 1020px
}

section {
  width: 770px;
  background-color: #fff;
  border-left: 1px #ddd solid;
  border-right: 1px #ddd solid;
  padding: 10px 20px 100px 20px;
  box-shadow: 0px 5px 5px 1px #eee;
  background-image: url("https://raw.githubusercontent.com/modofunjs/modofun/master/assets/images/modofun-logo-white.png");
  background-repeat: no-repeat;
  background-position: center bottom 20px;
  background-size: 56px 40px
}

footer {
  padding-left: 20px
}

footer p small {
  display: none
}

@media print, screen and (max-width: 1020px) {
  body {
    padding: 0
  }

  header:after {
    content: none
  }

  div.wrapper {
    width: auto;
    margin: 0
  }

  header, section, footer {
    float: none;
    position: static
  }

  footer {
    margin: 0 0 0 10px;
    border: none
  }

  header {
    padding: 34px 0px 0px 25px;
    margin: 10px 10px 0 0;
    width: 820px
  }

  section {
    width: 770px;
    margin: 0px 20px 20px 20px
  }

  header a small {
    display: inline
  }

  header ul {
    position: absolute;
    left: 680px;
    top: 50px
  }
}

@media print, screen and (max-width: 845px) {
  body {
    word-wrap: break-word
  }

  header {
    width: auto;
    margin-right: 0
  }

  header ul {
    left: auto;
    right: 25px
  }

  section {
    width: auto;
    margin: 0 0 20px 0;
    border: none;
    box-shadow: none
  }
}

@media print, screen and (max-width: 480px) {
  header ul li.download {
    display: none
  }

  header ul, header p.view {
    position: static
  }

  header {
    background-position: right 20px bottom 10px
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444
  }
}
